@import './variables.scss';

table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;

  & td,
  th {
    border: 1px solid var(--font-color);
    text-align: center;
    padding: 8px;

    &.actions {
      display: flex;
      gap: 1em;

      & > .action-button {
        background-color: var(--bg-color-300);
        color: var(--font-color);
        padding: 0.5em;
        border: none;
        cursor: pointer;
      }
    }

    & > input {
      width: 100%;
      height: 100%;
      font-size: $fs-md;
    }
  }

  & tr:nth-child(even) {
    background-color: var(--font-color);
    color: var(--bg-color);
  }
}
