/* COLORS */
/* LIGHT THEME */
$lg-primary: #e9e2c9;
$lg-secondary: #2e2928;
$lg-accent: #158f9c;

/* DARK THEME */
$dk-primary: #2e2928;
$dk-secondary: #e9e2c9;
$dk-accent: #158f9c;
/* FONT */
$fs-xl: 1.5rem;
$fs-l: 1.25rem;
$fs-md: 1rem;
$fs-s: 0.75rem;
$fs-xs: 0.5rem;
